<%= link_to profile_path(profile.id), class: "flex w-[800px] m-10" do %>
  <div class="flex items-center w-full h-48 border-2">
    <div class="w-32 h-32 m-5 bg-black">
      <img src="" alt="">  
    </div>
    <div class="flex flex-wrap">
      <%= content_tag(:p, profile.name, class: "w-full") %>
      <%= content_tag(:p, profile.level, class: "w-full") %>
    </div>
  </div>
<% end %>