<div class="flex w-[60%] h-48 border-2 m-10 p-10 items-center">
  <div class="w-32 h-32 bg-black">
    <img src="" alt="">  
  </div>
  <div class="flex flex-wrap p-10">
    <%= content_tag(:p, profile.name, class: "w-full") %>
    <%= content_tag(:p, profile.level, class: "w-full") %>
  </div>
</div>