<div class="flex flex-wrap">
  <div class="m-5">
    <p class="p-5">姓名</p>
    <%= @profile.name %>
  </div>
  <div class="m-5">
    <p class="p-5">年齡</p>
    <%= @profile.age %>
  </div>
  <div class="m-5">
    <p class="p-5">等級</p>
    <%= @profile.level %>
  </div>
  <div class="m-5">
    <p class="p-5"> 經驗值</p>
    <%= @profile.exp %>
  </div>
</div>
