<div class="flex items-center justify-between w-full h-20 p-5 bg-slate-700">
	<div>
		<%= link_to "PET GARDEN", root_path, class: "text-white" %>
	</div>
	<div>
		<p class="text-white">登入</p>
	</div>
</div>